@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');


* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-size: 16px;
}

body {
   background-image: url("../images/mobile-two-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Pacifico', cursive;
   height: 100vh;
}

a {   
   color: aliceblue;
   text-decoration: none;
}

/* START OF HEADER STYLING */
.header {
   width: 100%;
}

/* Mobile Menu Section */

.mobile-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 18px;
}

.mobile-nav-card {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   background-color: rgb(212,175,55);
   border: 1px solid white;
   border-radius: 7.5px;      
   height: 40vh;
   width: 35vw;

   position: fixed;
   right: 1rem;
   top: 1rem;

   transform: translateX(45vw);
   transition: .3s ease-in-out;
}

.mobile-nav-card.display {
   transform: translateX(0);
   transition: .4s ease-in-out;
}

.mobile-nav-card img {   
   border-radius: 50%;
   height: 20px;
   padding: 2px;   
   width: 20px;

   position: absolute;
   right: 0.5rem;
   top: 0.5rem;
}

.mobile-nav-card img:hover {
   background-color: rgba(255, 255, 255, 0.4);
}

.mobile-nav-card a  {
   border-bottom: 1px solid white;
   color: black;   
   font-family: 'Dancing Script', cursive;   
   font-weight: 700;
   padding: .5rem;   
   text-align: center;
   width: 6.25rem;
}

.mobile-nav-card a:hover {   
   background-color: rgba(250, 235, 215, 0.4);
}

.mobile-nav-card a:active {   
   color: white;
}

.menu-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   border-radius: 3px;
   background-color: transparent;
   height: 24px;
   padding: 3px;   
   width: 24px;
}

.menu-bar:hover {
   background-color: rgba(255, 255, 255, 0.4);
}

.bar {
   background-color: rgb(212,175,55);
   border-radius: 1px;
   height: 2px;
   width: 13px;   
}

/* Mobile Menu Section End */

/* General Header Section */

.header-nav {
   display: none;
   justify-content: space-between;
   align-items: center;

   background-color: transparent;
   padding: 1rem;
}

.logo {
   color: rgb(212,175,55);   
   font-family: 'Pacifico', cursive;
   font-size: 2.5rem;
   font-weight: 700;
}

.nav-links a {
   font-family: 'Dancing Script', cursive;   
}

.nav-links a:hover {
   color: rgb(212,175,55); 
   font-size: 1.2rem;
}

.login-button {
   background-color: transparent;
   border: 2px solid white;   
   border-radius: 10px;
   font-size: 1rem;
   padding: .25rem .75rem;
}

.login-button:hover {
   border: 2px solid rgb(212,175,55); 
   color: rgb(212,175,55);  
}
/* END OF HEADER STYLING */


/* START OF MAIN SECTION STYLING */


form {
   background-color: rgb(212, 175, 55);
   border: 2px solid bisque;
   border-radius: 10px;
   font-size: .9rem;
   margin: 4rem auto;
   padding: 2rem;
   width: 75%;
}

.login-text h1 {
   border-bottom: 2px solid bisque; 
   font-size: 1.65rem;
   margin-bottom: 1.5rem;  
}


input {
   width: 100%;
   height: 2.5rem;
   margin: 0.5rem 0;
   padding: 10px;
   border: 1px solid black;
   border-radius: 7.5px;
}

::placeholder {
   font-family: 'Caveat', cursive;
   font-size: 1rem;
   font-weight: 500;
}

button {
   background-image: linear-gradient(to bottom right, #FF512F, #DD2476);
   border: 1px solid #13080d;   
   border-radius: 5px;    
   box-shadow: 0 8px 8px -4px #13080d;
   font-family: 'Pacifico', cursive;
   font-size: .8rem;
   font-weight: 700;
   margin-top: .5rem;
   width: 5rem;
   height: 1.75rem;  
}

button:hover {
   opacity: .7;
   transition: .4s ease-in-out;
}

/* END OF MAIN SECTION STYLING */


/* START OF FOOTER STYLING */
.footer {
   color: rgb(212,175,55);
   display: block;      

   font-family: 'Caveat', cursive;
   font-size: 0.75rem;
   margin-bottom: .5rem;
   padding: 0 1rem;
   text-align: center;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
}

.copyright {
   align-items: center;
   row-gap: .35rem;
}

.socials {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: .75rem;
   font-size: 1.2rem;  
   margin-bottom: .5rem; 
}

.fa-brands {
   color: bisque;
}

.fa-brands:hover {
   color: rgb(212,175,55);
}

/* END OF FOOTER STYLING */

/* START OF RESPONSIVE STYLING */

/* Tablet-size Styling */
@media only screen and (min-width: 700px) and (max-width: 1034px) {
   body {
      background-image: url("../images/desktop-bg.jpg");
      background-size: auto;
   }

   .header-nav {
      display: flex;
      height: 100%;
   }

   .mobile-nav {
      display: none;
   }

   .nav-links a {
      margin: 0 .35rem;
      font-size: 1.3rem;
   }

   .footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
   }

   form {
      width: 40%;
   }
}

/* Desktop-size Styling */
@media only screen and (min-width: 1035px) {
   body {
      background-image: url("../images/desktop-bg.jpg");
      background-size: unset;
   }

   .header-nav {
      display: flex;
   }

   .mobile-nav {
      display: none;
   }

   .nav-links a {
      margin: 0 .65rem;
      font-size: 1.3rem;
   }

   .footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
   }

   form {
      width: 35%;
   }
}

/* END OF RESPONSIVE STYLING */