@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-size: 16px;
}

body {
   background-image: url("../images/mobile-two-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   font-family: 'Caveat', cursive;
   height: 100%;
}

a {   
   color: aliceblue;
   text-decoration: none;
}

h1, h2, h3, h3 { 
   font-size: 1.65rem;  
   margin-bottom: 1rem;
   padding-bottom: 5px;
   border-bottom: 2px solid rgb(212,175,55);
}

/* START OF HEADER STYLING */
.header {
   /* position: fixed; */
   width: 100%;
}

/* Mobile Menu Section */

.mobile-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 18px;
}

.mobile-nav-card {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   background-color: rgb(212,175,55);
   border: 1px solid white;
   border-radius: 7.5px;      
   height: 40vh;
   width: 35vw;

   position: fixed;
   right: 1rem;
   top: 1rem;

   transform: translateX(45vw);
   transition: .3s ease-in-out;
}

.mobile-nav-card.display {
   transform: translateX(0);
   transition: .4s ease-in-out;
}

.mobile-nav-card img {   
   border-radius: 50%;
   height: 20px;
   padding: 2px;   
   width: 20px;

   position: absolute;
   right: 0.5rem;
   top: 0.5rem;
}

.mobile-nav-card img:hover {
   background-color: rgba(255, 255, 255, 0.4);
}

.mobile-nav-card a  {
   border-bottom: 1px solid white;
   color: black;   
   font-family: 'Dancing Script', cursive;   
   font-weight: 700;
   padding: .5rem;   
   text-align: center;
   width: 6.25rem;
}

.mobile-nav-card a:hover {   
   background-color: rgba(250, 235, 215, 0.4);
}

.mobile-nav-card a:active {   
   color: white;
}

.menu-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   border-radius: 3px;
   background-color: transparent;
   height: 24px;
   padding: 3px;   
   width: 24px;
}

.menu-bar:hover {
   background-color: rgba(255, 255, 255, 0.4);
}

.bar {
   background-color: rgb(212,175,55);
   border-radius: 1px;
   height: 2px;
   width: 13px;   
}

/* Mobile Menu Section End */

/* General Header Section */

.header-nav {
   display: none;
   justify-content: space-between;
   align-items: center;

   background-color: transparent;
   padding: 1rem;
}

.logo {
   color: rgb(212,175,55);   
   font-family: 'Pacifico', cursive;
   font-size: 2.5rem;
   font-weight: 700;
}

.nav-links a {
   font-family: 'Dancing Script', cursive;   
}

.nav-links a:hover {
   color: rgb(212,175,55); 
   font-size: 1.2rem;
}

.login-button {
   background-color: transparent;
   border: 2px solid white;   
   border-radius: 10px;
   font-size: 1rem;
   padding: .25rem .75rem;
}

.login-button:hover {
   border: 2px solid rgb(212,175,55); 
   color: rgb(212,175,55);  
}
/* END OF HEADER STYLING */

/* START OF MAIN SECTION STYLING */

main {
   padding: 0 1rem;
}

.intro_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 18px;
}

.intro_section img {   
   border-radius: 1rem;
   margin: 3rem;
   max-width: 16rem;
}

.text-content p {
   font-size: 1.2rem;
   line-height: 1.75rem;
}

.hobbies, .skills {
   padding: 18px;
   font-size: 1.2rem;
}

.hobbies-list, .skills-list {
   list-style-position: inside;
   list-style-type: square;
}

::marker {
   color: rgb(212,175,55);
}

.contact {
   background-color: rgb(212,175,55);
   border-radius: 5px;
   margin: 18px;
   text-align: center;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact p {
   margin: 5px;
   color: black;
   font-size: 1.2rem;
   font-weight: 700;
}

.contact-btn { 
   background-image: linear-gradient(to bottom right, #FF512F, #DD2476);
   border: 1px solid #13080d;   
   border-radius: 5px;    
   box-shadow: 0 8px 8px -4px #13080d;
   font-size: 1.2rem;
   font-weight: 700;
   margin-bottom: 5px;
   padding: 5px 16px;
}

.contact-btn:hover {
   opacity: .7;
   transition: .4s ease-in-out;
}

/* END OF MAIN SECTION STYLING */


/* START OF FOOTER STYLING */
.footer {
   color: rgb(212,175,55);
   display: block;      

   
   font-size: 0.75rem;
   margin-bottom: .5rem;
   padding: 0 1rem;
   text-align: center;
   width: 100%;

}

.copyright {
   align-items: center;
   row-gap: .35rem;
}

.socials {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: .75rem;
   font-size: 1rem;  
   margin-bottom: .5rem; 
}

.fa-brands {
   color: bisque;
}

.fa-brands:hover {
   color: rgb(212,175,55);
}

/* END OF FOOTER STYLING */


/* START OF RESPONSIVE STYLING */

/* Tablet-size Styling */
@media only screen and (min-width: 700px) and (max-width: 1034px) {
   body {
      background-image: url("../images/desktop-bg.jpg");
      background-size: unset;
   }

   /* main {
      display: flex;
      flex-direction: row;
   } */

   .intro_section {
      display: flex;
   }

   .text-content {
      width: 50%;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }

   .header-nav {
      display: flex;
      height: 100%;
   }

   .mobile-nav {
      display: none;
   }

   .nav-links a {
      margin: 0 .35rem;
      font-size: 1.3rem;
   }

   .hobbies {
      width: 35%;
      padding: 1rem;
      margin: 0 auto;
   }

   .skills {
      width: 50%;
      padding: 1rem;
   }
   .hobbies-and-skills {
      display: flex;
      /* flex-direction: row;
      justify-content: center; */
   }

   .contact {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
   }
   
   .contact-btn {
      font-size: 1.25rem;
      font-weight: 700;
      height: 1.75rem;
      width: 10rem;
   }

   .footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
   }
}

/* Desktop-size Styling */
@media only screen and (min-width: 1035px) {
   body {
      background-image: url("../images/desktop-bg.jpg");
      background-size: unset;
   }

   .header-nav {
      display: flex;
   }

   .mobile-nav {
      display: none;
   }

   .nav-links a {
      margin: 0 .65rem;
      font-size: 1.3rem;
   }

   .intro_section {
      display: flex;
   }

   .text-content {
      width: 50%;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }

   .hobbies {
      width: 35%;
      padding: 1rem;
      margin: 0 auto;
      text-align: center;
   }

   .skills {
      width: 50%;      
      padding: 1rem;
   }

   .skills-list {
      width: 100%;
      margin: 0 auto;
   }

   .hobbies-and-skills {
      display: flex;
      /* flex-direction: row;
      justify-content: center; */
   }

   .contact {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
   }
   
   .contact-btn {
      font-size: 1.25rem;
      font-weight: 700;
      height: 1.75rem;
      width: 10rem;
   }

   .footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
   }
}

/* END OF RESPONSIVE STYLING */